@import url(default.css);
@import url(common.css);
@import url(font.css);
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 143px;
    height: 37px;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/logo.png) no-repeat center center / cover;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px;
    padding: 0 25px;
    font-size: 20px;
    color: #1d1d1d;
}
header .gnb ul li a:hover {
    color: #2623C2;
    font-weight: 800;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 800px;
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.visual h2 {
    padding: 339px 0 14px 0;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
}
.biz .tit {
    text-align: center;
    margin: 110px 0 58px 0;
}
.biz .tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 8px 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
}
.biz .list ul li a {
    display: block;
    text-align: center;
}

/* 아직 photo, img 값에 부여하는 설정값이 웹을 참고하지 않으면 헷갈림 */

.biz .list ul li a .photo {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    /* width 값보다 내용물이 크면 해당 영역 숨기기 (li에 width: 297px; 값 참고) */
}
.biz .list ul li a .photo img {
    /* width, height 값을 부여하여 비율 꽉 맞추고 parents에 부여한 width 값을 참고하여 object-fit 설정
       photo의 사이즈가 변해도 그 안에 꽉 맞게 들어감 */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.biz .list ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.biz .list ul li a h3 {
    margin: 17px 0 10px 0;
    font-weight: 800;
    font-size: 25px;
    color: #1d1d1d;
}
.biz .list ul li a .more {
    display: block;
    margin: 20px 0 0 0;
    padding: 12px 0;
    border: 1px solid #e4e4e4;
}
.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover;
    height: 700px;
    margin: 110px 0 0 0;
    color: #fff;
}
.brand h2 {
    padding: 131px 0 0 0;
    color: #ADDFFC;
}
.brand p {
    font-weight: 800;
    font-size: 25px;
    line-height: 1.1;
    margin: 5px 0 36px 0 ;
}
.brand a {
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.8);
    padding: 12px 27px;
}
footer {
    background-color: #151515;
    padding: 0 0 166px 0;
    color: rgba(255,255,255,0.8);
}
footer .wrapper {
    position: relative;
}
footer .f_nav {
    padding: 35px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 50px;
}
footer .f_nav ul li.privacy {
    font-weight: 800;
}
footer .f_info {
    padding: 35px 0 55px 0;
}
footer .f_info span {
    display: inline-block;
    margin: 0 50px 18px 0;
}
footer .f_info .copyright {
    color: rgba(255,255,255,0.6);
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 110px;
    width: 205px;
    height: 41px;
    border: 1px solid rgba(255,255,255,0.6);
    padding: 12px 0 12px 15px;
    text-align: left;
    content: "";
}
footer .family_site::before {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 15px;
    height: 15px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.01563 13.75L3.90625 12.6406L9.04688 7.5L3.90625 2.35938L5.01563 1.25L11.2656 7.5L5.01563 13.75Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}