@import url(font.css);
@import url(default.css);
@import url(common.css);




.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* 이미지 꽉 차게 */
    height: 900px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.pop_bg1 {background-image: url(../images/visual_bg1.png);}
.visual ul li.pop_bg2 {background-image: url(../images/visual_bg2.png);}
.visual ul li.pop_bg3 {background-image: url(../images/visual_bg3.png);}

.visual ul li span {
    color: rgba(255,255,255,0.05);
    font-family: 'Eulyoo1945';
    font-size: 100px;
    margin: 262px 0 0 53px;
    display: block;
}
.visual ul li h2 {
    color: #fff;
    font-family: 'Eulyoo1945';
    font-size: 100px;
    margin: -85px 0 4px 105px;
    display: block;
}
.visual ul li p {
    margin: 0 0 0 126px;
}

.visual .bnt_prev,
.visual .bnt_next {
    position: absolute;
    top: 455px;
    z-index: 10;
    /* position 속성이 들어간 요소끼리의 순서 - 숫자가 높으면 위 */
    width: 100px;
    height: 21px;
    font-size: 0;
    line-height: 0;
}

.visual .bnt_prev {
    left: 3%;
}
.visual .bnt_next {
    right: 3%;   
}
.visual .bnt_prev::before,
.visual .bnt_next::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .bnt_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='102' height='22' viewBox='0 0 102 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 20.7802L1.71776 20.3675L0.383038 21.2802H2V20.7802ZM31.2079 1.41273C31.4358 1.25685 31.4942 0.945708 31.3383 0.717765C31.1825 0.489822 30.8713 0.431399 30.6434 0.587273L31.2079 1.41273ZM2 21.2802H102V20.2802H2V21.2802ZM2.28224 21.1929L31.2079 1.41273L30.6434 0.587273L1.71776 20.3675L2.28224 21.1929Z' fill='white' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
}

.visual .bnt_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='102' height='22' viewBox='0 0 102 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100 20.7802L100.282 20.3675L101.617 21.2802L100 21.2802L100 20.7802ZM70.7921 1.41273C70.5642 1.25686 70.5058 0.94571 70.6617 0.717767C70.8175 0.489825 71.1287 0.431402 71.3566 0.587276L70.7921 1.41273ZM100 21.2802L1.77295e-06 21.2802L1.68553e-06 20.2802L100 20.2802L100 21.2802ZM99.7178 21.1929L70.7921 1.41273L71.3566 0.587276L100.282 20.3675L99.7178 21.1929Z' fill='white' fill-opacity='0.3'/%3E%3C/svg%3E ");
}

@media screen and (max-width:1400px){
    /* 넓이 1400px 이하로 떨어지면 bnt 숨김  */
    .visual .bnt_prev,
    .visual .bnt_next {
        display: none;
    }
}

@media screen and (max-width:640px){
    .visual ul li {
        height: 360px;
        color: rgba(255,255,255,0.6);
    }
    
    .visual ul li span {
        font-size: 30px;
        margin: 156px 0 0 7px;
    }
    .visual ul li h2 {
        font-size: 30px;
        margin: -24px 0 1px 14px;
    }
    .visual ul li p {
        margin: 0 0 0 17px;
    }
    .visual ul li p br { /* br 태그 삭제 */
        display: inline-block;
        content: "";
    }
}

.book {
    margin: 160px 0 0 0;
}
.book .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.book .txt {
    float: left; /* 부유요소. 텍스트를 영역으로 취급하지 않아 .list와 flex처럼 나란히 앉음 */
}
.book .txt h2 {
    color: #1d1d1d;
    font-family: 'Eulyoo1945';
    font-size: 40px;
    line-height: 1.2;
}
.book .txt span {
    margin: 0 0 25px 0;
    color: rgba(61,61,61,0.8);
}
.book .txt .more {
    position: absolute;
    left: 4px;
    top: 91px;
    color: #666;
}
.book .txt .more:hover {
    color: #962C25;
}
.book .txt .more::before {
    position: absolute; /* position 값을 갖고 있는 .more을 기준으로 정렬 */
    right: -15px;
    bottom: 3px;
    width: 29px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='8' viewBox='0 0 31 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 7L29.2909 6.59332L30.5585 7.5L29 7.5L29 7ZM20.3207 1.40668C20.0961 1.24603 20.0442 0.933718 20.2049 0.709116C20.3655 0.484515 20.6779 0.432673 20.9025 0.593324L20.3207 1.40668ZM29 7.5L5.68248e-07 7.5L4.80825e-07 6.5L29 6.5L29 7.5ZM28.7091 7.40667L20.3207 1.40668L20.9025 0.593324L29.2909 6.59332L28.7091 7.40667Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.book .txt .more:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='8' viewBox='0 0 31 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 7L29.2909 6.59332L30.5585 7.5L29 7.5L29 7ZM20.3207 1.40668C20.0961 1.24603 20.0442 0.933718 20.2049 0.709116C20.3655 0.484515 20.6779 0.432673 20.9025 0.593324L20.3207 1.40668ZM29 7.5L5.68248e-07 7.5L4.80825e-07 6.5L29 6.5L29 7.5ZM28.7091 7.40667L20.3207 1.40668L20.9025 0.593324L29.2909 6.59332L28.7091 7.40667Z' fill='%23962C25'/%3E%3C/svg%3E%0A");
}

.book .list {
    margin: 0 0 0 428px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a h3 {
    white-space: nowrap; /* 한줄제한 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    font-family: 'Eulyoo1945';
    font-size: 22px;
    line-height: 1.2;
    color: #1d1d1d;
}
.book .list ul li a:hover h3 {
    color: #5D331B;
}

.book .list ul li a span {
    color: rgba(61,61,61,0.8);
}
.book .list ul li a:hover span {
    color: rgba(184,142,106,1);
}

@media screen and (max-width:640px){
    .book {
        margin: 60px 0 0 0;
    }
    .book .txt {
        float: none;
        margin-bottom: 29px;
        display: flex;
        justify-content: space-between;
    }
    .book .txt h2 {
        font-size: 20px;
    }
    .book .txt span {
        display: none;
    }
    .book .txt .more {
        position: relative;
        left: 0;
        top: 4px;
        text-align: right;
    }
    .book .txt .more::before {
        right: -17px;
        bottom: 11px;
        width: 28px;
        height: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='8' viewBox='0 0 30 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 7L28.2976 6.59823L29.5149 7.5L28 7.5L28 7ZM19.6032 1.40176C19.3813 1.23739 19.3347 0.924256 19.4991 0.702367C19.6634 0.480479 19.9766 0.433858 20.1985 0.598237L19.6032 1.40176ZM28 7.5L5.68248e-07 7.5L4.80825e-07 6.5L28 6.5L28 7.5ZM27.7024 7.40176L19.6032 1.40176L20.1985 0.598237L28.2976 6.59823L27.7024 7.40176Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }
    
    .book .list {
        margin: 0;
    }
    .book .list ul li {
        width: 160px;
    }
    .book .list ul li .photo img {
        width: 100%;
    }
    .book .list ul li a h3 {
        font-size: 16px;
    }
}

.interview {
    background-color: rgba(130,139,115,0.2);
    margin-top: 160px;
}
.interview .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.interview .txt {
    text-align: center;
    margin: 0 0 105px 0;
    padding: 71px 0 0 0;
}

.interview .txt h2 {
    color: #1d1d1d;
    font-family: 'Eulyoo1945';
    font-size: 40px;
    line-height: 1.2;
}
.interview .txt span {
    color: rgba(61,61,61,0.8);
}
.interview .txt .more {
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translate(-50%, 0);
}
.interview .txt .more:hover {
    color: #962C25;
}
.interview .txt .more::before {
    position: absolute; /* position 값을 갖고 있는 .more을 기준으로 정렬 */
    right: -15px;
    bottom: 3px;
    width: 29px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='8' viewBox='0 0 31 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 7L29.2909 6.59332L30.5585 7.5L29 7.5L29 7ZM20.3207 1.40668C20.0961 1.24603 20.0442 0.933718 20.2049 0.709116C20.3655 0.484515 20.6779 0.432673 20.9025 0.593324L20.3207 1.40668ZM29 7.5L5.68248e-07 7.5L4.80825e-07 6.5L29 6.5L29 7.5ZM28.7091 7.40667L20.3207 1.40668L20.9025 0.593324L29.2909 6.59332L28.7091 7.40667Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.interview .txt .more:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='8' viewBox='0 0 31 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 7L29.2909 6.59332L30.5585 7.5L29 7.5L29 7ZM20.3207 1.40668C20.0961 1.24603 20.0442 0.933718 20.2049 0.709116C20.3655 0.484515 20.6779 0.432673 20.9025 0.593324L20.3207 1.40668ZM29 7.5L5.68248e-07 7.5L4.80825e-07 6.5L29 6.5L29 7.5ZM28.7091 7.40667L20.3207 1.40668L20.9025 0.593324L29.2909 6.59332L28.7091 7.40667Z' fill='%23962C25'/%3E%3C/svg%3E%0A");
}

.interview .list ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0 171px 0;
}
.interview .list ul li {
    width: 404px;
    height: 431px;
    position: relative; /* a 정렬의 기준 */
}
.interview .list ul li:first-child,
.interview .list ul li:last-child {
    border-radius: 80px 0 30px 0;
}
.interview .list ul li:nth-child(2) {
    border-radius: 0 30px 0 80px;
    margin: 80px 0 0 0;
}
.interview .list ul li a.inter1 {
    background: url(../images/interview1.png) no-repeat center center / cover;
    filter: grayscale(0.8);
}
.interview .list ul li a.inter2 {
    background: url(../images/interview2.png) no-repeat center center / cover;
    filter: grayscale(0.8);
}
.interview .list ul li a.inter3 {
    background: url(../images/interview3.png) no-repeat center center / cover;
    filter: grayscale(0.8);
}
.interview .list ul li:hover {
    filter: grayscale(0);
}

.interview .list ul li a {
    padding: 311px 0 0 42px;
    display: block;
    color: #fff;
    font-family: 'Eulyoo1945';
    line-height: 1.2;
}
.interview .list ul li a span {
    font-size: 30px;
}
.interview .list ul li a h3 {
    font-size: 40px;
}
.interview .list ul li a .more {
    position: absolute; /* a를 정렬의 기준으로 함 */
    right: 42px;
    top: 31px;
    width: 34px;
    height: 34px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 16.75C0.723858 16.75 0.5 16.9739 0.5 17.25C0.5 17.5261 0.723858 17.75 1 17.75V16.75ZM1 17.75H34.5V16.75H1V17.75Z' fill='white'/%3E%3Cpath d='M18.25 1C18.25 0.723858 18.0261 0.5 17.75 0.5C17.4739 0.5 17.25 0.723858 17.25 1L18.25 1ZM18.25 34.5L18.25 1L17.25 1L17.25 34.5L18.25 34.5Z' fill='white'/%3E%3C/svg%3E%0A");
}

.interview .list ul li:hover a {
    position: absolute;
    left: 0;
    top: 307px;
    background-color: #828B73;
    width: 340px;
    height: 164px;
}



footer {
    margin: 1000px 0 0 0;
}